*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Tahoma sans-serif;

}

body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, black, rgb(59, 58, 58));
    
}

.calculator{
    border: none;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    
}
input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    opacity: 0.7;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    color:white;

}
input::placeholder{
    color: whitesmoke;
}
button{
    border:none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    
}
.equalbtn{
    background-color: orange;
}

.acbtn{
    background-color: grey;
}
.delbtn{
    background-color: grey;
}
.operator{
    color: aqua;
}